{% extends "base.html"%}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:	</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:david.kovacs.1991@gmail.com">
                    david.kovacs.1991@gmail.com
                </a>
            </dd>
        </div>

        <div class="contact">
            <dt>GitHub:	</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/pykovacs">
                    @pykovacs
                </a>
            </dd>
        </div>

        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/davidkovacs48/">
                    David Kovacs
                </a>
            </dd>
        </div>
        
</dl>
</main>
{% endblock %}