{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img 
                class="hero" 
                src="{{ url_for('static', filename=project['hero']) }}" 
                alt="Man behind transparent screen with technology theme."
            >

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">
                        {{ project['name'] }}
                    </h2>
                    <p>
                        Techie-blog is very similiar to post-section project, but there is also frontend developed in HMTL/CSS. Mongo DB as a document DB was used to store blog entries and user informations. This is my first backend + frontend project, where I learned how the frontend interacts with backend and vice versa.
                    </p>
                    <p>
                        You need to login as a user in order to post an entry. All the entries are available on the homepage.
                    </p>
                    <p>
                        <em>This project is still in progress...</em>
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">
                            Technologies used
                        </h3>
                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML/CSS</li>
                            <li class="technology-list__item">MongoDB</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['link'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/cta.png') }}" alt="Call to action icon">
                        Check on GitHub
                    </a>
                </section>
            </article>
        </div>

    </main>

{% endblock %}