*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Dosis, "sans-serif";
}

body {
    margin-top: 60px;
    background-color: #f8f1f1;
    color: #000411;
}

.header {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.header__title {
    font-family: Nunito, sans-serif;
    font-size: 2.5rem;
}

.nav {
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    border-top: 2px solid #A31621;

}

.nav__link {
    text-decoration: none;
    color: #160C28;
    transition: color 0.2s ease-out;
}

.nav__link:hover {
    color: #A31621;
}

.nav__link:not(:last-of-type) {
    margin-right: 2.5rem;
}

.nav__link--active {
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main--error {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main--about {
    max-width: 500px ;
    padding: 0 1rem;
    line-height: 150%;
    flex-direction: column;
}

.main--contact {
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-left: 3px solid #A31621;
}

.contact {
    display: flex;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
}

.contact__details {
    margin-left: 1ch;
    text-align: left;
}

.contact__link {
    color: #160C28;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.contact__link:hover {
    color: #A31621;
} 

.projects {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    justify-content: center;
    justify-items: center;
    max-width: 5rem;
    margin: 0 auto;
}

@media (min-width: 48.75em) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        max-width: 30rem;
    }
}

@media (min-width: 70em) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        max-width: 60rem;
    }
}

.project-card {
    padding: 0.75rem 0;
}

.project-card__image {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgb(34, 34, 34);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-card__meta {
    padding: 0 1.25rem;
}

.project-card__name {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #160C28;
}

.project-card:hover .project-card__image {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.project-card:hover .project-card__name {
    text-decoration: underline;
}

.categories {
    display: flex;
    padding: 0;
    margin: 0 0 0.75rem;
    color: #A31621;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
}

.categories__tag:not(:last-of-type)::after {
    content: "|";
    margin: 0 0.4rem;
}


.hero {
    width: 100%;
    margin-bottom: 1.5rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.project {
    display: flex;
    max-width: 900px;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 0 1rem;
    transform: translateY(-100px);
}

.project__content{
    margin-bottom: 1rem;
    line-height: 150%;
}

@media (min-width: 48.75em) {
    .project {
        flex-direction: row;
        padding: 0;
    }

    .project__content{
        flex: 7;
        margin-right: 3rem;
        padding: 0;
    }
}

.project__heading {
    margin: 0;
    font-size: 2rem;
    line-height: 150%;
}

.project__heading--meta {
    font-size: inherit;
    margin-bottom: 1rem;
}

.project__meta-group {
    margin-bottom: 1rem;
}

.project__meta-group,
.cta {
    padding: 1rem;
    background-color: #beb9b9;
    border-radius: 6px;
    transform: translateY(70px);

}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #a59999;
    color:#160C28;
    text-decoration: none;
    border-radius: 20px;

}

.cta:hover {
    background-color: #beb9b9;
}

.cta__icon {
    width: 30px;
    margin-right: 0.5rem;
}

.technology-list {
    list-style: none;
    margin: 0;
    padding-left: 0.75rem;
    line-height: 2rem;
}

.technology-list__item {
    color: #A31621;
}

.u-bare-link {
    text-decoration: none;
}
